
.navbar {
  height:150px;
}
.form-control {
  margin: 10px;
}
.btn{
    display:flex;
    margin:25px;
    text-align: center;
    align-items: center;
    align-content: center;
}


main {
  display:flex;
  height:650px;
  background-image:url("http://media.istockphoto.com/photos/closed-theater-red-curtains-and-seats-3d-picture-id494542100?k=6&m=494542100&s=170667a&w=0&h=QqhUB_L5_qTLAlQjVoCtN63kNSXmwPd_KW5q95uVpzs=");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  flex-direction: column;

}
.freetrial {
  font-size: 35px;
  border: 1px solid white;
}
