
.navbar {
  height:150px;
}
.form-control {
  margin: 10px;
}

.signup{
    display:flex;
    margin:25px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.firstsection {
  display:flex;
  height:650px;
  background-image:url("http://media.istockphoto.com/photos/closed-theater-red-curtains-and-seats-3d-picture-id494542100?k=6&m=494542100&s=170667a&w=0&h=QqhUB_L5_qTLAlQjVoCtN63kNSXmwPd_KW5q95uVpzs=");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  flex-direction: column;
  border-bottom: 25px;

}
.freetrial {
  font-size: 35px;
  border: 1px solid white;
}
.fa-arrow-down {
  margin-top: 45px;
}

.secondsection {
  background-color: black;
  border-top: 30px solid black;

}
h1 {
  color:white;
}
.column {
  text-align: center;
  height: 600px;
  border-top: 50px;
}
.column img {
  width: 350px;
  height: 250px;
}


.thirdsection {
  background-color:black;
  height: 800px;
  border-top: 30px solid black;
}
aside {
  background-color: gray;
  height: 600px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.plans {
  height:600px;
  background-color: white;
  display: flex;
  align-items:center;
}
